.why-section {
  padding: 110px 20px;
  /* background: #f9fafb; */
  background: #f8fafd;
}

.why-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 0.2fr;
  align-items: center;
}

/* LEFT IMAGE */
.why-image {
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.why-image.visible {
  opacity: 1;
  transform: translateY(0);
}

.why-image img {
  width: 70%;
  height: 480px;
  object-fit: cover;
  /* border-radius: 12px; */
}

/* OVERLAPPING STATS CARD */
.why-stats {
  position: absolute;
  left: 28%;
  background: #ffffff;
  padding: 35px;
  /* border-radius: 12px; */
  width: 360px;
  z-index: 2;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.why-stats.visible {
  opacity: 1;
  transform: translateY(0);
}

.why-stats h3 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
  color: #111827;
}

.progress-item {
  margin-bottom: 18px;
}

.progress-item span {
  font-size: 14px;
  color: #374151;
  display: block;
  margin-bottom: 6px;
}

.progress-bar {
  width: 100%;
  height: 6px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background:  #10b981;
  border-radius: 10px;
}

.percent {
  font-size: 12px;
  color: #6b7280;
  margin-top: 4px;
}

/* RIGHT CONTENT (GIVEN MORE SPACE) */
.why-content {
  padding-left: 60px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.why-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.why-content h3 {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 15px;
}

.why-content p {
  font-size: 15px;
  color: #6b7280;
  line-height: 1.8;
  margin-bottom: 14px;
}

.why-icon {
  font-size: 34px;
  margin-bottom: 15px;
}


/* RESPONSIVE FIXES */
@media (max-width: 992px) {
  .why-container {
    grid-template-columns: 1fr;
  }

  .why-stats {
    position: relative;
    left: 0;
    width: 100%;
    margin: -80px auto 40px;
  }

  .why-content {
    padding-left: 0;
  }

  .why-image img {
    height: 420px;
  }
}

@media (max-width: 600px) {
  .why-image img {
    height: 320px;
    width: 350px;
  }
}
