.services-showcase {
  background: white;
  /* background: radial-gradient(circle at top, #0b0f2a, #050713); */
  padding: 65px 0% 0px 0;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

/* HEADER */
.services-header {
   background:
    linear-gradient(
      rgba(15, 23, 42, 0.755),
      rgba(15, 23, 42, 0.75)
    ),
    url("../../Assets/Why.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 50px 40px;
}

.services-header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.services-header p {
  font-size: 1.3rem;
  line-height: 1.8;
  color: white;
  /* color: #b8c1ff; */
}

.learn-more a {
  background: #0f172a;
  color: white;
  padding: 0.7rem 1.4rem;
  border-radius: 4px;
  font-weight: 500;

  border: 2px solid transparent; /* reserve space */
  transition: 
    background 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.learn-more a:hover {
  background: transparent;
  color: #0f172a;
  border-color: #0f172a; /* border shows on all sides */
}

.learn-more a {
  background: #0f172a;
  color: white;
  padding: 0.7rem 1.4rem;
  border-radius: 4px;
  font-weight: 500;

  border: 2px solid transparent; /* reserve space */
  transition: 
    background 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.learn-more a:hover {
  background: transparent;
  color: #0f172a;
  border-color: #0f172a; /* border shows on all sides */
}

.learn-more a {
  background: #0f172a;
  color: white;
  padding: 0.7rem 1.4rem;
  border-radius: 4px;
  font-weight: 500;

  border: 2px solid transparent; /* reserve space */
  transition: 
    background 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.learn-more a:hover {
  background: transparent;
  color: #0f172a;
  border-color: #0f172a; /* border shows on all sides */
}


/* RESPONSIVE */
@media (max-width: 922px) {
  .service-row,
  .service-row.reverse {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .service-row {
  display: grid;
  gap: 70px;
  align-items: center;
  /* margin-bottom: 10px; */
  padding: 0px 4%;
}

  .service-content p {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .service-row {
    margin-bottom: 50px;
  }

  .service-image img {
    height: 320px;
  }

  .services-header {
    margin-bottom: 0px;
  }

  .learn-more {
    text-align: left;
  }

}

@media (max-width: 768px) {
  .services-header {
    margin-bottom: 0;
  }
}
