/* ===============================
   PAGE BACKGROUND
================================ */

.contact-page {
  min-height: 100vh;
  background: #0f172a;
  padding: 4rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===============================
   MAIN CARD
================================ */

.contact-card {
  background: #0f172a;
  border-radius: 20px;
  max-width: 1100px;
  width: 100%;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
}

/* ===============================
   LEFT SIDE
================================ */

.contact-image {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}

.contact-image img {
  width: 100%;
  display: block;
  border-radius: 14px;
}


/* CONTACT INFO */

.contact-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.info-item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.info-icon {
  background: transparent;
  color: #4cda7e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.info-item h4 {
  font-size: 15px;
  margin-bottom: 2px;
  color: rgb(155, 205, 155);
}

.info-item p {
  font-size: 14px;
  color: white;
}

/* ===============================
   RIGHT SIDE
================================ */

.contact-right h2 {
  font-size: 28px;
  margin-bottom: 8px;
  color: white;
}

.contact-subtitle {
  font-size: 15px;
  /* color: #64748b; */
  color: white;
  margin-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-form label {
  font-size: 14px;
  /* color: #334155, */
  color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #475569;
}

.form-checkbox span {
  color: #0f172a;
  cursor: pointer;
}

.send-btn {
  background: #4cda7e;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.send-btn:hover {
  background: #0f172a;
}

/* ===============================
   RESPONSIVE
================================ */

@media (max-width: 900px) {
  .contact-card {
    grid-template-columns: 1fr;
  }
}
