.testimonial-section {
  padding: 20px 0px 60px 0px;
  background: #ffffff;
}

.testimonial-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.testimonial-header {
  text-align: center;
  margin-bottom: 60px;
}

.testimonial-header h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0f172a;
}

.testimonial-header p {
  margin-top: 10px;
  font-size: 16px;
  color: #64748b;
}

/* Grid */
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Card */
.testimonial-card {
  background: #f8fafc;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.08);
}

.testimonial-text {
  font-size: 15px;
  color: #475569;
  line-height: 1.7;
  margin-bottom: 25px;
}

/* User */
.testimonial-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonial-user img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-user h4 {
  font-size: 15px;
  font-weight: 600;
  color:  #10b981;
  margin: 0;
}

.testimonial-user span {
  font-size: 13px;
  color: #64748b;
}

/* Responsive */
@media (max-width: 992px) {
  .testimonial-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-header h2 {
    font-size: 28px;
  }
}
